* { box-sizing: border-box; }
body { font-family: "Roboto", sans-serif; }

.wrapper {
  margin: auto;
  margin-top: 20px;
  max-width: 800px;
  min-width: 600px;
  overflow-x: auto;
}

.main-content {
  height: 80vh;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #96d7d2;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 0 0;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  overflow-x: auto;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #b2fef8;
}

/* Create an active/current "tab button" class */
.tab button:active {
  background-color: #248f89;
}

#selectedTab {
  background-color: #def3f3;
}

img.icon {
  object-fit: none;
  object-position: 0 0;
  min-width: 60px;
  height: 60px;
}

div.icon {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 22px 16px;
}

.username {
  display: inline-block;
  vertical-align: top;
  padding: 22px 16px;
}

.buttonId {
  padding-left: 5%;
  max-width: 80%;
  min-width: 60%;
  font-size: 15px;
  overflow: auto;
}

.buttonText {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.messagePreview {
  padding-left: 5%;
  max-width: 80%;
  min-width: 60%;
  overflow: hidden;
  max-height: 50%;
}

.buttonTypingDiv {
  width: 20%;
  visibility: hidden;
}

.buttonTypingDiv#typing {
  visibility: visible;
}

.buttonTypingIcon {
  width: 100%;
}

.alertBar {
  width: 10%;
  min-height: 60px;
}

.alertBar#alert {
  background-color: var(--dark-green);
}

/* Style the tab content */
.chatcontent {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 100%;
  background-color: #def3f3;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* Style the box that shows all the messages */
.messagesBox {
  max-height: 90%;
  overflow-y: scroll;
}

/* Styles the */
.chatAction {
  position: absolute;
  margin: 0;
  height: 10%;
  width: 100%;
  top: auto;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.chatAction #delete,
#accept {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.chatAction #inputBox {
  border: var(--light-blue);
  height: 100%;
  width: 85%;
  resize: none;
}

.chatAction #sendButton {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #96d7d2;
  border: solid rgb(200, 200, 200) 1px;
  cursor: pointer;
}

#sendButton:hover,
#delete:hover,
#accept:hover {
  background-color: rgb(200, 200, 200);
}

.chatAction #sendButtonText {
  text-align: center;
}

#typingIcon {
  display: none;
  width: 3em;
  height: auto;
  margin-left: 0.6em;
  margin-bottom: 0.25em;
}

#typingIcon img {
  width: 100%;
  height: 100%;
}
