* { box-sizing: border-box; }
body { font-family: "Roboto", sans-serif; }

.wrapper {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  min-width: 600px;
  overflow-x: auto;
  border-radius: 3px;
  border-color: grey;
}

.main-content {
  height: 89vh;
}

.connectionIndicator * {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  height: 100%;
}

.connection-online {
  background-color: green;
}

.connection-offline {
  background-color: red;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 20%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  /* background-color: #96d7d2; */

  /* background-color: #def3f3; */
  background-color: white;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 0 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: lightgray;
  opacity: 0.5px;
}

/* Create an active/current "tab button" class */
.tab button:active {
  background-color: #248f89;
}

#selectedTab {
  /* background-color: #248f89; */
  background-color: #96d7d2;
}

.username {
  display: inline-block;
}

.iconParent {
  display: flex;
  min-width: 25%;
  max-width: 25%;
}

img.icon {
  margin: auto;
  object-fit: none;
  object-position: 0 0;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

div.icon {
  margin: auto;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
}

.notIcon {
  display: flex;
  min-width: 75%;
  max-width: 75%;
  min-height: 60px;
  max-height: 60px;
}

.buttonText {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 70%;
  max-width: 70%;
}

.buttonId {
  padding-left: 5%;
  max-width: 80%;
  min-width: 60%;
  font-size: 15px;
}

.messagePreview {
  padding-left: 5%;
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.buttonTypingDiv {
  min-width: 20%;
  max-width: 20%;
  visibility: hidden;
}

.buttonTypingDiv#typing {
  visibility: visible;
}

.buttonTypingIcon {
  width: 100%;
}

.alertBar {
  min-width: 10%;
  max-width: 10%;
  min-height: 60px;
  max-height: 60px;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.alertBar#alert {
  background-color: var(--dark-green);
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  border-radius: 3px;
}

/* Style the tab content */
.chatcontent {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 100%;
  background-color: white;
}

/* Style the box that shows all the messages */
.messagesBox {
  max-height: 75%;
  overflow-y: scroll;
  padding-top: 1em;
  padding-bottom: 0.25em;
}

/* Styles the */
.chatAction {
  position: absolute;
  margin: 0;
  height: 10%;
  width: 100%;
  top: auto;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
}

.chatAction #delete,
#accept {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: white;
  color: var(--dark-green);
  text-align: center;
}

.chatAction #pause {
  height: 100%;
  width: 100%;
  background-color: white;
  color: var(--dark-green);
  text-align: center;
}

.chatAction #inputBox {
  height: 100%;
  width: 85%;
  resize: none;
}

.chatAction #sendButton {
  height: 100%;
  width: 15%;
}

#sendButton:hover,
#delete:hover,
#accept:hover {
  background-color: var(--dark-green);
  color: white;
}

.chatAction #sendButtonText {
  text-align: center;
}

#typingIcon {
  display: none;
  width: 3em;
  height: auto;
  margin-left: 0.6em;
  margin-bottom: 0.25em;
}

#typingIcon img {
  width: 100%;
  height: 100%;
}

#chatHeader {
  display: flex;
  justify-content: center;
  background-color: #96d7d2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chatHeader-pseudonym {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.75rem;
}

.legal {
  color: #bababa;
  font-size: 6px;
}
