body {
  background-color: #EFEBEA;
}

.center {
  margin: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.wrapper {
  margin: 25vh auto;
  max-width: 35%;
}

.banner {
  color: #4D4949;
}

.action_button {
  width: 10vw;
  background-color: #C4BAB8;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}
