body {
  background-color: #efebea;
}

.center {
  margin: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.wrapper {
  margin: 25vh auto;
  max-width: 35%;
}

.banner {
  color: #4d4949;
}

.action_button {
  background-color: #c4bab8;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  width: 50%;
}

.text_input {
  text-align: center;
  border-radius: 3px;
  border: none;
  margin: 5px;
  width: 50%;
}
