.left-chat-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: auto;
    max-width: 62%;
    overflow: hidden;
    word-break: break-all;
    float: left;
    padding: 20px;
}

.right-chat-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: auto;
    max-width: 62%;
    overflow: hidden;
    word-break: break-all;
    padding: 20px;
    float: right;
}

.container {
    display: inline-block; 
    position: relative;
    width: 100%;
}

.left-time {
    position: relative;
    top: 20px;
    left: 10px;
    float: left;   
}

.right-time{
    position: relative;
    top: 20px;
    right: 10px;
    float: right;
}