textarea {
    font-family: "Roboto";
}

.left-chat-bubble {
    background-color: #96D7D2;
    border: none;
    border-radius: 1px;
    width: auto;
    max-width: 62%;
    overflow: hidden;
    word-break: break-all;
    float: left;
    padding: 5px;
}

.right-chat-bubble {
    background-color: #B2FEF8;
    border: none;  
    border-radius: 1px;
    width: auto;
    max-width: 62%;
    overflow: hidden;
    word-break: break-all;
    padding: 5px;
    float: right;
}

.container {
    display: inline-block; 
    position: relative;
    width: 100%;
}