.left-chat-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: auto;
    max-width: 62%;
    overflow: hidden;
    float: left;
    padding: 20px;
}

.right-chat-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: auto;
    max-width: 62%;
    overflow: hidden;
    padding: 20px;
    float: right;
}

.container {
    display: inline-block; 
    position: relative;
    width: 100%;
}
