.topnav {
    background-color: #B1C6C4;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #B1C6C4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background: white;
}

.topnav-right {
  float: right;
}

.topnav a:hover {
  background-color: #B1C6C4;
  color: grey;
}

.topnav a.active {
  background-color: #B1C6C4;
  color: white;
}