:root {
  --light-blue: #def3f3;
  --dark-green: #248f89;
  --medium-green: #96d7d2;
  --light-green: #b2fef8;
}

.navbar {
  background-color: var(--dark-green);
  z-index: 1;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 1.61px;
}

.navbar-dark .navbar-brand {
  color: var(--medium-green);
}

.navbar-dark .navbar-brand:hover {
  color: var(--light-blue);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--medium-green);
  font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--light-blue);
}

.navbar-button {
  background-color: var(--dark-green);
  border: none;
  cursor: pointer;
}

.home_icon {
  height: 47px;
  width: 47px;
}
