:root {
  --light-blue: #def3f3;
  --dark-green: #248f89;
  --medium-green: #51d2ca;
  --light-green: #b2fef8;
}

.topnav {
  background-color: var(--dark-green);
  overflow: hidden;
  width: 100%;
}

.topnav a {
  font-family: "Roboto", sans-serif;
  float: left;
  color: var(--light-blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  background: var(--dark-green);
}

.topnav-right {
  float: right;
}

.topnav a:hover {
  background-color: var(--light-blue);
  color: var(--dark-green);
}

.topnav a.active {
  background-color: var(--dark-green);
  color: white;
}
