#bear {
  object-position: 0 0;
}

#ox {
  object-position: -60px 0;
}

#flamingo {
  object-position: -120px 0;
}

#panda {
  object-position: -180px 0;
}

#giraffe {
  object-position: -240px 0;
}

#raccoon {
  object-position: -300px 0;
}

#chimpanzee {
  object-position: 0 -60px;
}

#bullhead {
  object-position: -60px -60px;
}

#doe {
  object-position: -120px -60px;
}

#mandrill {
  object-position: -180px -60px;
}

#badger {
  object-position: -240px -60px;
}

#squirrel {
  object-position: -300px -60px;
}

#rhino {
  object-position: 0 -120px;
}

#dog {
  object-position: -60px -120px;
}

#monkey {
  object-position: -120px -120px;
}

#lynx {
  object-position: -180px -120px;
}

#brownbear {
  object-position: -240px -120px;
}

#marmoset {
  object-position: -300px -120px;
}

#funnylion {
  object-position: 0 -180px;
}

#deer {
  object-position: -60px -180px;
}

#zebra {
  object-position: -120px -180px;
}

#meerkat {
  object-position: -180px -180px;
}

#elephant {
  object-position: -240px -180px;
}

#cat {
  object-position: -300px -180px;
}

#hare {
  object-position: 0 -240px;
}

#puma {
  object-position: -60px -240px;
}

#owl {
  object-position: -120px -240px;
}

#antelope {
  object-position: -180px -240px;
}

#lion {
  object-position: -240px -240px;
}

#fox {
  object-position: -300px -240px;
}

#wolf {
  object-position: 0 -300px;
}

#hippo {
  object-position: -60px -300px;
}
