/** {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
*/

:root {
  --light-blue: #def3f3;
  --dark-green: #248f89;
  --medium-green: #96d7d2;
  --light-green: #b2fef8;
}

h1 {
  font-family: "comic-sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: 1.61px;
  text-align: center;
  line-height: 79px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.87);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.25px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.75px;
  text-align: left;
}

img {
  width: 190px;
  height: 150px;
}

.topnav {
  position: fixed;
  background-color: var(--dark-green);
  width: 100%;
}

#open {
  margin-bottom: 0;
}

#open button {
  background: var(--light-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: black;
  text-align: left;
  margin: 20px;
  padding: 10px 35px;
  opacity: 0.85;
  letter-spacing: 1.6px;
}

#load {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  border: 10px solid var(--dark-green);
  border-top: 10px solid var(--light-blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#chat {
  color: grey;
  display: none !important;
}

#open.flex-container {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #96d7d2;
  color: var(--light-blue);
  text-decoration: bold;
  flex-direction: column;
}

#chathistory {
  background-color: var(--light-blue);
  margin-top: 50px;
  height: 60vh;
  overflow-y: scroll;

}
}

#chat_admin {
  position: inline-block;
  width: 100%;
  background: var(--light-blue);
}

.received_msg {
  width: 50%;
}

.received_msg p {
  background: white none repeat scroll 0 0;
  border-radius: 3px;
  color: #b1c6c4;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 95%;
}

#chat_user {
  position: inline-block;
  width: 100%;
  background: grey;
}

.sent_msg {
  background: grey;
  float: right;
  width: 50%;
}

.sent_msg p {
  background: #b1c6c4 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 95%;
}

#chatbar {
  visibility: hidden;
  width: 80%;
  background: var(--light-blue);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#e_space {
  background: white;
  height: 0;
}

#type_msg {
  width: 100%;
}

#inputBox {
  border: var(--light-blue);
  min-height: 10px;
  width: 90%;
  resize: none;
}

#sendButton {
  background: var(--dark-green);
  color: white;
  height: 55px;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid rgb(200, 200, 200) 1px;
  cursor: pointer;
}

#sendButton:hover {
  background-color: rgb(200, 200, 200);
}

#sendButtonText {
  text-align: center;
}

#typingIcon {
  display: none;
  width: 3em;
  height: auto;
  margin-left: 0.6em;
  margin-bottom: 0.25em;
}

#typingIcon img {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-height: 600px) {
  #chatbox {
    display: none;
    height: 80%;
    width: 80%;
    background-color: var(--light-blue);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-height: 600px) {
  #chatbox {
    display: none;
    height: 80%;
    width: 80%;
    background-color: var(--light-blue);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  #open.flex-container {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-green);
    color: var(--light-blue);
    text-decoration: bold;
    flex-direction: column;
  }

  #chathistory {
    background-color: var(--light-blue);
    margin-top: 50px;
    height: 500px;
    overflow-y: scroll;
  }
}
