html,
body {
  height: 100%;
  background-color: #EFEBEA;
}

h1 {
  color: #4D4949;
}

.login_button {
  width: 10%;
  border: none;
  background-color: #c4bab8;
  color: black;
  font-size: 16px;
  border-radius: 3px;
}

.input_box {
  border-radius: 3px;
  border: none;
}

.center {
  line-height: 300px;
  height: 200px;
  display: inline-block;
  text-align: center;
}
